body{
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

.page{
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	
}

.header{	
	padding: 10px;
	background: rgb(82, 142, 211);
	font-family: "Gill Sans", sans-serif;
	font-size: 15px;
	
}


.img{
	background: url(img_contact/img1.jpg);
	background-size: cover;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border-radius: 10px;
	display: inline-block;
}

ul.menu{
	list-style-type: none;
	margin: 5px;
  	overflow: hidden;
	display: inline-block;
		
}

li{
	float: left;
}

li a {
	
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;	
	text-decoration: none;
}

a.active{
	background: rgb(34, 67, 128);
	color:turquoise;
}

li a:hover{
	color:turquoise;
	background: rgb(34, 67, 128);
}

.main{
	margin: 0;
	max-width: 10000px;
	padding: 50px 180px;
	font-family: "Gill Sans", sans-serif;
}

div.contact{
	padding-top: 70px;
}
div.contact, div.adress{
	float: left;
	
}

div.contact-info{
	float:left;
}



h1{
	font-size: 70px;
	font-weight: bold;	
}

a.number{
	font-size: 60px;
	font-weight: 600;
	color: black;
}

a.number:hover{
	color:rgb(34, 67, 128);
}

div.worktime{
	padding-top: 50px;
	font-size: 30px;
}


div.adress{
	margin-left: 350px;
	font-size: 30px;
}
#map {
	height: 300px;
	width: 100%;
}


.footer{
	padding: 10px;
	background: rgb(82, 142, 211);
	margin-top: auto;
	font-family: "Gill Sans", sans-serif;
	font-size: 15px;
	color: white;	
}


